# Ignore Capacitor native platforms
ios/** linguist-generated=true
android/** linguist-generated=true

# Ignore Next.js and Capacitor build outputs
out/** linguist-generated=true
www/** linguist-generated=true
dist/** linguist-generated=true
build/** linguist-generated=true
