.container {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  height: 100vh;
  place-items: center;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 6px;
  margin-bottom: 16px;
}
.banner h1, .banner h2 {
  text-align: center;
  user-select: none;
}
.banner h1 {
  font-size: 68px;
  line-height: 1em;
  font-weight: 900;
  letter-spacing: -1px;
}
.banner h2 {
  font-size: 20px;
  line-height: 1em;
  text-transform: uppercase;
  margin-bottom: 4vh;
}

.customButton {
  align-self: center;
  padding: 0.25em 0.6em 0.25em 0.6em;
  margin-top: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: var(--color-mid);
  border-radius: 0.4em;
  cursor: pointer;
  transition: transform 50ms linear;
  user-select: none;
}
.customButton:hover {
  background-color: var(--color-mid-hover);
  transform: scale(1.05);
}
.customButton:active {
  background-color: var(--color-mid-active);
  transform: scale(1);
}
.customButton:focus-visible {
  outline: 2px solid var(--color-theme);
}

.ribbon {
  height: 100%;
  display: flex;
  align-items: center;
}
.unku {
  display: inline-block;
  background-color: var(--color-theme);
  border-top: 8px solid var(--color-theme);
  border-bottom: 8px solid var(--color-theme);
}
