/*.khipuIndex {
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
  interpolate-size: allow-keywords;
}
.node {
  display: flex;
}
.string {
  display: block;
  background-color: var(--color-theme);
  width: 0rem;
  height: 0rem;
}
.knot {
  width: 1.5rem;
  margin-right: -1rem;
  height: 0.5rem;
}
.knot svg {
  height: 100%;
}
.lessons {
  display: flex;
  min-width: 3rem;
  min-height: 3rem;
  margin: 1rem;
  width: auto;
  max-width: 0;
  transition: max-width 200ms ease;
}
.expanded {
  max-width: 10rem;
}*/

.khipuIndex {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
  max-width: fit-content;
  height: 3rem;
  margin: 1rem;
  margin-right: 2.5rem;
  z-index: 3;
}
.khipuIndex a {
  cursor: pointer;
  position: relative;
  z-index: 10;
}
.lessonLine {
  height: 0.25rem;
  background-color: var(--color-theme);
  transition: width 200ms ease;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 7;
}
.knots {
  position: absolute;
  top: 0;
  width: auto;
  height: 100%;
  display: flex;
  align-items: start;
  margin-left: -0.75rem;
}
.knot {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.knotSvg {
  height: 0.5rem;
  min-width: 0.5rem;
}
.knotSvg svg {
  height: 100%;
}
.knotTitle {
  font-weight: 800;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: -2rem;
  position: absolute;
  display: none;
  z-index: 13;
}
.lessonWrapper:hover .knotTitle {
  display: block;
}
.lessonWrapper {
  margin-right: 0.5rem;
  position: relative;
}
.sections {
  width: 1.5rem;
  max-height: 0;
  transition: max-height 200ms ease;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  margin-top: -0.75rem;
  position: static;
  padding-bottom: 0.25rem;
}
.sectionLine {
  background-color: var(--color-theme);
  width: 0.25rem;
  height: 10rem;
  position: relative;
  z-index: 6;
}
.lessonWrapper:hover .sections {
  max-height: 14rem;
}
.sectionKnots {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transition: max-height 200ms ease;
  display: none;
}
.lessonWrapper:hover .sectionKnots {
  display: flex;
}
.sectionKnot {
  min-width: 1.5rem;
  width: auto;
  height: 1.5rem;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  z-index: -1;
}
.sectionText {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 400;
  text-align: right;
  height: 2rem;
  vertical-align: text-top;
  position: absolute;
  z-index: 4;
  right: 1.25rem;
  top: 0;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 10ms linear 25ms;
  text-transform: capitalize;
}
.sectionBarrier {
  position: absolute;
  top: -1rem;
  z-index: 15;
  background-color: var(--color-back);
  width: 100%;
  left: -10%;
  height: 1rem;
}
.knotSvg {
  position: relative;
  z-index: -1;
}
.sectionKnot:hover .sectionText {
  opacity: 1;
  position: absolute;
  z-index: 4;
}


/*.lessonNode {
  height: 0.6rem;
  min-width: 0.6rem;
  max-width: 2rem;
  width: fit-content;

}
.lessonNode svg {
  height: 100%;
}
.lessonName {
  position: absolute;
  top: 0;
  margin-left: -1.5rem;
  display: none;
  font-size: 0.75rem;
  font-weight: 800;
  text-transform: uppercase;
}
.lessonNodeContainer {
  display: flex;
  align-items: center;
  min-height: 2rem;
  margin-left: -0.3rem;
  margin-right: 1.5rem;
}
.lessonNodeContainer:hover .lessonName {
  display: block;
}
.lessonNodeContainer:hover .sectionLine {

}*/

.khipuFront {
  z-index: 5;
}
.khipuMiddle {
  z-index: 4;
}
.khipuBack {
  z-index: 3;
}
