.columns {
  width: 100%;
  table-layout: fixed;
}
.columns td {
  vertical-align: top;
  padding-bottom: 0.25rem;
}
.columns td:first-child {
  text-align: right;
  padding-right: 0.25rem;
}
.columns td:last-child {
  text-align: left;
  padding-left: 0.25rem;
}
