.studyWrapper {
  height: auto;
  width: fit-content;
  margin: auto;
  margin-top: -5rem;
}
.flashCard {
  width: 22rem;
  height: 22rem;
  font-size: 3rem;
  margin: auto;
  perspective: 1000px;
  cursor: pointer;
  transition: transform 200ms ease;
}
.flashCard .inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 300ms;
  transform-style: preserve-3d;
}
.inner.flipped {
  transform: rotateY(180deg);
}
.flashCard .front, .flashCard .back {
  position: absolute;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  background-color: var(--color-mid);
  border-radius: 10%;
  padding: 2rem;
  box-sizing: border-box;
}
.flashCard .front {
  backface-visibility: hidden;
}
.flashCard .back {
  transform: rotateY(180deg);
}
.flashCard p {
  line-height: 1.1em;
}
.flashCard:hover {
  transform: scale(1.02);
}
.flashCard:active {
  transform: scale(0.97);
}
.buttonWrap {
  display: flex;
  justify-content: end;
}
.flashButton {
  width: 4rem;
  height: 4rem;
  transition: transform 150ms;
  right: 0;
  font-size: 2.5rem;
  line-height: 4rem;
}
.flashButton:hover {
  transform: scale(1.04);
  background-color: var(--color-mid-hover);
}
.flashButton:active {
  background-color: var(--color-mid-active);
  transform: scale(0.93);
}

.form {
  margin-top: calc(1.5rem + 2px);
  width: 100%;
}
.form label {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
}
.form input {
  width: 100%;
  height: 4rem;
  box-sizing: border-box;
  flex: 1;
  border-radius: 3rem;
  padding-left: 1.5rem;
  padding-right: 3.75rem;
  font-size: 1.4rem;
}
.form input:focus {
  outline: none;
  box-shadow: none;
}
.form button {
  position: absolute;
  right: 0.5rem;
  background-color: var(--color-mid);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  line-height: 3rem;
  font-size: 1.7rem;
  cursor: pointer;
  transition: transform 100ms linear;
}
.form button:hover {
  transform: scale(1.08);
  background-color: var(--color-mid-hover);
}
.form button:active {
  transform: scale(0.96);
  background-color: var(--color-mid-active);
}

@media screen and (max-width: 800px) {
  .studyWrapper {
    margin-top: -8rem;
  }
  .flashCard:hover {
    transform: scale(1);
  }
  .flashCard:active {
    transform: scale(0.97);
  }
  .flashButton {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
    line-height: 5rem;
  }
  .flashButton:hover {
    transform: scale(1);
    background-color: var(--color-mid);
  }
  .flashButton:active {
    background-color: var(--color-mid-hover);
    transform: scale(0.95);
  }
  .form button:hover {
    transform: scale(1);
    background-color: var(--color-mid);
  }
  .form button:active {
    transform: scale(0.92);
    background-color: var(--color-mid-hover);
  }
}
