.studyWrapper {
  height: auto;
  width: fit-content;
  margin: auto;
  margin-top: -4rem;
}
.flashCard {
  width: 22rem;
  height: 22rem;
  font-size: 3rem;
  margin: auto;
  perspective: 1000px;
  cursor: pointer;
  transition: transform 200ms ease;
}
.flashCard .inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 300ms;
  transform-style: preserve-3d;
}
.inner.flipped {
  transform: rotateY(180deg);
}
.flashCard .front, .flashCard .back {
  position: absolute;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  background-color: var(--color-mid);
  border-radius: 10%;
  padding: 2rem;
  box-sizing: border-box;
}
.flashCard .front {
  backface-visibility: hidden;
}
.flashCard .back {
  transform: rotateY(180deg);
  font-size: 2.5rem;
}
.flashCard p {
  line-height: 1.1em;
}
.flashCard:hover {
  transform: scale(1.02);
}
.flashCard:active {
  transform: scale(0.97);
}
.buttonWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.flashButton {
  width: 4rem;
  height: 4rem;
  transition: transform 150ms;
  font-size: 2.5rem;
  line-height: 4rem;
  background-color: var(--color-mid);
  border-radius: 4rem;
  cursor: pointer;
  padding: 0.8rem;
}
.flashButton svg {
  width: 100%;
  height: 100%;
}
.flashNext {
  right: 0;
}
.flashBack {
  left: 0;
}
.dummy {
  width: 4rem;
  height: 4rem;
  cursor: default;
}
.flashButton:hover {
  transform: scale(1.04);
  background-color: var(--color-mid-hover);
}
.flashButton:active {
  background-color: var(--color-mid-active);
  transform: scale(0.93);
}

.form {
  margin-top: calc(1.5rem + 2px);
  width: 100%;
}
.form label {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
}
.form input {
  width: 100%;
  height: 4rem;
  box-sizing: border-box;
  flex: 1;
  border-radius: 3rem;
  padding-left: 1.5rem;
  padding-right: 3.75rem;
  font-size: 1.4rem;
}
.form input:focus {
  outline: none;
  box-shadow: none;
}
.form button {
  position: absolute;
  right: 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  line-height: 3rem;
  font-size: 1.8rem;
  cursor: pointer;
  transition: transform 100ms linear;
}
.form button > svg {
  margin: auto;
  width: 55%;
  height: 55%;
}
.regButton:hover {
  transform: scale(1.08);
  background-color: var(--color-mid-hover);
}
.regButton:active {
  transform: scale(0.96);
  background-color: var(--color-mid-active);
}
.regButton {
  background-color: var(--color-mid);
}
.yButton, .yButton:hover, .yButton:active {
  background-color: #5d854c;
}
.nButton, .nButton:hover, .nButton:active {
  background-color: #e85538;
}

.rangeSelect {
  border-radius: 0.9rem;
  padding-left: 0.36em;
  padding-right: 0.25em;
  cursor: pointer;
  transition: transform 150ms linear;
}
.rangeSelect span {
  margin-left: 0.1em;
}
.dropCaret {
  vertical-align: 0.3em;
  line-height: 0;
}
.upCaret {
  display: inline-block;
  transform: rotate(180deg);
  vertical-align: -0.3em;
}
.rangeSelect:hover {
  background-color: var(--color-mid);
}
.rangeSelect:active {
  background-color: var(--color-mid-hover);
}
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-width: fit-content;
  background-color: var(--color-back);
  justify-content: space-between;
  z-index: 2;
  border-radius: 1rem;
}
.dropdown ul {
  flex: 1;
  padding: 0.25em;
}
.dropdown li:hover {
  cursor: pointer;
  background-color: var(--color-mid);
}

@media screen and (max-width: 800px) {
  .studyWrapper {
    margin-top: -4rem;
  }
  .flashCard:hover {
    transform: scale(1);
  }
  .flashCard:active {
    transform: scale(0.97);
  }
  .flashButton:hover {
    transform: scale(1);
    background-color: var(--color-mid);
  }
  .flashButton:active {
    background-color: var(--color-mid-hover);
    transform: scale(0.95);
  }
  .regButton:hover {
    transform: scale(1);
    background-color: var(--color-mid);
  }
  .regButton:active {
    transform: scale(0.92);
    background-color: var(--color-mid-hover);
  }
  .yButton:active, .nButton:active {
    transform: scale(0.92);
  }
  .rangeSelect:hover {
    background-color: transparent;
  }
  .rangeSelect:active {
    background-color: transparent;
    transform: scale(0.95);
    opacity: 0.8;
  }
}
